<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathToText" value="cuatro-libros.txt" />
    <add key="WordsPerSub" value="30" />
    <!--Ximena, Carlos, Jorge, Carmen, VW Kate, Microsoft Anna, Allison, Ines22k_HQ, Sharon22k_HQ, Soledad-->
    <add key="VoiceName" value="Carlos" />
    <add key="AskParams" value="No" />
    <!-- -10 to 10; 3-->
    <add key="VoiceRate" value="-1" />
    <add key="FactorOrReplace" value="Factor" />
    <!--SRT Resize Factor-->
    <add key="ResizeFactor" value="1.0" />
    <!--Final SRT length in ms-->
    <add key="ReplaceFinalTime" value="18530000" />
    <!--wav or mp3-->
    <add key="OutputFormat" value="wav" />
    <!--Sample rate (samples per second) 48000, 16000-->
    <add key="SampleRate" value="22000" />
    <add key="BitsPerSample" value="16" />
    <!--1=mono, 2=stereo-->
    <add key="ChannelCount" value="1" />
    <!--Avg Bytes Per Second i.e. 16000-->
    <add key="AvgBytesPerSecond" value="16000" />
    <!--Block Align i.e. 2-->
    <add key="BlockAlign" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>